

body {
  background-color: rgb(66, 173, 148);
}

.lightcard, .moisturecard, .picard, .ambientcard, .nutrientscard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: fit-content;
    margin-left:20px;
    float: left;
  }
.nutrientscard {
  background-color: chocolate;
}

.lightcard {
  background-color: palegreen;
}  
.ambientcard {
  background-color:indianred ;
}
.moisturecard {
  background-color: paleturquoise;
}
.picard{
  background-color: palegoldenrod;
}
.nutrientscard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.lightcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.moisturecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.ambientcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.picard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 4px 16px;
  max-width: fit-content;
}
.config {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.form_container {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: lightgray;
}
input, select {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.navbar{
  margin-left: 40%;
  margin-right:40%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: darkgreen;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: fit-content;
}
a:link, a:visited {
  color:aliceblue;
}