<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <div class="lightcard">
        <div class="container">
          <h4><b>Grow Light</b></h4>
          <p>Status:</p>
          <p>Grow Light On: {{grow_light.on}}</p>
          <p>Hours before toggle: {{grow_light.hours_left}}</p>
        </div>
      </div> 
  </body>
</html>