{% extends "base.html" %}
{%block content%}
      {% csrf_token %}
      <div class="lightcard">
        <div class="container">
          <h4><b>Grow Light Status:</b></h4>
          <p>Daylight hours set: {{grow_light.daylight_hours}}</p>
          <p>Grow Light On: {{grow_light.on}}</p>
          <p>Hours before toggle: {{grow_light.hours_left}}</p>
          <p>Lumens: {{grow_light.lumens}}</p>
        </div>
      </div> 
      <div class="moisturecard">
        <div class="container">
          <h4>Soil Moisture</h4>
          <p>Average Soil Moisture: {{soil_moisture.average}}%</p>
          <p>Lowest Moisture Level: {{soil_moisture.low}}%</p>
          <p>Highest Moisture Level: {{soil_moisture.high}}%</p>
          <p>Last Time Watered: {{soil_moisture.time}}</p>
          <p>Water Tank Level: {{soil_moisture.tank_level}}%</p>
        </div>
      </div>
      <div class="ambientcard">
        <div class="container">
          <h4>Ambient Information</h4>
          <p>Temperature: {{ambient_data.temperature}} F°</p>
          <p>24 Hour High Temperature: {{ambient_data.temperature_24_high}} F°</p>
          <p>24 Hour Low Temperature: {{ambient_data.tempurature_24_low}} F°</p>
          <p>Light Levels: {{ambient_data.light_level}} Lumens</p>
        </div>
      </div>
      <div class="picard">
        <div class="container">
          <h4>Pi Status:</h4>
          <p>Uptime: {{rpi_status.uptime}} hours</p>
          <p>CPU: {{rpi_status.cpu}}%</p>
        </div>
      </div>
      <div class="nutrientscard">
        <div class="container">
          <h4>Water Nutrients</h4>
          <p>Nutrients Level: {{nutrients.level}}%</p>
          <p>Nutrients Alarm Level: {{nutrients.alarm}}%</p>
        </div>
      </div>
  {%endblock content%}